.App{
  width:100vw;
  height: 100vh;
}

body{
  margin:0%;
  padding:0;

}


.Dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}


.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: black;
}


.Dashboarddata{
height: 100%;
padding:0;
width: 50%;

}
.Dashboarddata .row{
  background-color: #2F4050;
width: 40%;
height: 60px;
list-style-type: none;
margin: 0%;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Dashboarddata .row:hover{
cursor: pointer;
background-color: #293846;
}

.Dashboarddata  #active{
  background-color: #293846;

}


.row #icon{
flex:30%;
display: grid;
place-items: center;
}

.row #title{
flex:70%;
}

.searchbar-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 420px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 1000;
}


.search-form input {
  width: 100%;
  padding: 14px 18px;
  font-size: 15px;

  border: none;
  outline: none;
  border-radius: 999px; 

  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.search-form {
  width: 90%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.search-form input:focus {
  background: #eaeaea;
}

.search-button {
  padding: 14px;
  border-radius: 999px;
  border: none;
  background-color: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #222;
}



.search-input {
  width: 100%;
  padding: 14px 18px;
  font-size: 15px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
